body{
    background-image: url(https://st2.depositphotos.com/2339653/6123/i/450/depositphotos_61237311-stock-photo-white-marble-texture-background-high.jpg);
    background-size: cover;
}

.titulo{
    text-align: center;
    height: 70%;
    width: 70%;
    font-size: 300%;
    justify-content: center;
    align-items: center;
}
.frase{
    text-align: center;
    height: 70%;
    width: 70%;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    color: rgb(51, 52, 52);
}
.line1{
    border-bottom: solid 1px;
    width: 50%;
}

.flexbox{
    display: flex;
}
.texto1{
    padding: 10%;
    text-align:left;
    height: 70%;
    width: 30%;
    font-size: 110%;
    justify-content: left;
    align-items: left;
    
}

.texto2{
    padding: 10%;
    text-align: left;
    height: 70%;
    width: 30%;
    font-size: 110%;
    justify-content: flex-end;
    align-items: flex-end;
    
}